body{
    margin:0;
    padding: 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

/* ************ Navegacion ********** */

header{
    width: 100%;
    height: 60px;
    /*background-color: pink;*/
}

header nav{
    /*Mueve los elementos en un bloque, flex hace que sea responsiva*/
    display: flex;
    /*Justificar hacia la derecha**/
    justify-content: flex-end;
}

header nav .nav-right-section{
    list-style: none;
    display: flex;/* la hace responsiva*/
    justify-content: center;
    align-items: center;/*centra verticalmente*/
    width: 250px;
    height: auto; /*hace que se ajuste al elemnto con mas altura*/
    /*background-color: aqua;*/
}

a{
    /*Quita linea de abajo*/
    text-decoration: none;
    /*Cambia el cursor a un pointer*/
    cursor:pointer;
}

nav .nav-right-section a{
    margin-right: 25px;
    /*color:#000000DE;*/
}

nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    /*Setea el tamaño del icono a lo mas grande posible siempre y cuando*/
    background-size: contain;
}

nav .nav-right-section img{
    /*Sete la radio del border*/
    border-radius: 60px;
    margin-left: 20px;
    width: 35px;
    height: 35px;
}

main{
    /*agrega margen arriba*/
    margin-top: 150px;
    /*centra todo horizontalmente*/
    text-align: center;
    /*background-color: blueviolet;*/
    /*height: 550px;*/
}

main .main-logo{
    width: 530px;
    /*el auto centra el elemento con base al contenedor*/
    margin: 0 auto;
    margin-bottom: 35px;
    /*background-color: beige;*/
}

main .main-logo img{
    height: 120px;
    /*background-color: peru;*/
}

main .main-input{
    /*background-color: black;*/
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;

}

main .main-input-container{
    width: 525px;
    border: 1px solid #dfe1e5;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color:darkgrey*/
}

main .main-input input{
    border: none;
    width: 530px; /*Miranda puso 530*/
    height: 40px;
    outline: none;
    /*background-color: chartreuse;*/
}

main .main-input-container:hover{
    box-shadow: 0 1px 6px 0px #20212447;
    border-color: #dfe1e500;
}

main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    /*Evita repeticiones*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 14px;
    height: 14px;
    padding-left: 6%;
}

main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    /*Evita repeticiones*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    padding-left: 1%;
}

main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    /*Evita repeticiones*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    padding-right: 7%;
}

main .main-buttons div{
    /*propiedad que deja los botones en linea*/
    display: inline-block;
}

main .main-buttons button{
    border: none;
    height: 36px;
    background-color: #f8f9fa;
    font-size: 14px;
    color: #3c4043;
    border-radius: 4px;
    padding: 0 15px;
    border: 1px solid #f8f9fa;
    margin-right: 10px;
}

main .main-buttons button:hover{
    box-shadow:0 1px 3px rgba(0, 0, 0, .1) ;
    border: 1px solid #dadce0;
    color: #202124;
    cursor: pointer;
}

/********Footer***********************/

footer{
    background-color: #f2f2f2;
    width: 100%;
    height: 50px;
    position: absolute;
    font-size: 13px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-top: 1px solid #e4e4e4;
    bottom: 0;
}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0px;
}

footer ul li a{
    color: #70757a;
    margin: 10px;
}

footer .footer-left{
    justify-self: left;
}

footer .footer-right{
    justify-self: right;
}